
build/vs2013/*.sdf
build/vs2013/*.db
build/vs2013/*.opendb
build/vs2013/*.suo
build/vs2013/*.user
build/vs2013/Debug/
build/vs2013/Release/



wxWidgets/*

!.gitignore
!wxWidgets/include
!wxWidgets/lib

